#  Local .terraform directories
**/.terraform/*
**/w2v_model/
**/saved/
**/runs/*
**/.idea/
**/__pycache__/
**/.ipynb_checkpoints/
**/summarys/
model/
**/model/
**/models/
**/outputs/
**/saved_models/
version/
**/version/
**/gitinfo/
**/mywork/*

T1_Relation_Classification_via_CDNN/saved_models/*

text_simple_study/RE2_study/simple-effective-text-matching-pytorch/*

# .tfstate files
*.tfstate
*.tfstate.*
*checkpoint
**/model.ckpt*
*.ckpt*
# .tfvars files
*.tfvars
*.all
*.hdf5
task/.idea/*
*.xml
*.zip
*.rar
*.bin
*.vec
*.model
*.gz
*.bz2
*.word
*.pkl
**/mywork/*

