#  Local .terraform directories
**/.terraform/*
**/w2v_model/
**/saved/
**/runs/*
**/.idea/
**/__pycache__/
**/.ipynb_checkpoints/
**/summarys/
model/
data/
**/model/
**/data/
**/saved_models/

T1_Relation_Classification_via_CDNN/saved_models/*

# .tfstate files
*.tfstate
*.tfstate.*
*checkpoint
**/model.ckpt*
*.ckpt*
# .tfvars files
*.tfvars
*.hdf5
*.json
*.txt
*.csv
task/.idea/*
*.xml
*.zip
*.rar
*.bin
*.vec
*.model
*.gz
*.bz2
*.word
*.pkl
*.tsv
*.neg
*.pos

